<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Little_System_Cleaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Little_System_Cleaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Little_System_Cleaner.Properties.Settings>
            <setting name="registryCleanerOptionsLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="registryCleanerOptionsShowLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="registryCleanerOptionsRemMedia" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="optionsUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="optionsSysRestore" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="registryCleanerOptionsDelBackup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="registryCleanerOptionsAutoRescan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="registryCleanerOptionsAutoRepair" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="registryCleanerOptionsAutoExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="updateAuto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lastScanDate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastScanErrors" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastScanErrorsFixed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastScanElapsed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalScans" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalErrorsFound" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalErrorsFixed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalRuns" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="diskCleanerSearchSystem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="diskCleanerSearchReadOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="diskCleanerSearchHidden" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="diskCleanerSearchArchives" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="diskCleanerSearchZeroByte" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="diskCleanerRemoveMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="diskCleanerMoveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="diskCleanerAutoRestorePoints" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="diskCleanerFilterMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="diskCleanerSearchFilters" serializeAs="String">
                <value>*.tmp; *.temp; *.gid; *.chk; *.~*;</value>
            </setting>
            <setting name="diskCleanerIgnoreWriteProtected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="diskCleanerFindFilesMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="diskCleanerFindFilesAfter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="diskCleanerFindFilesBefore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="diskCleanerDateTimeAfter" serializeAs="String">
                <value>06/14/2010 21:39:00</value>
            </setting>
            <setting name="diskCleanerDateTimeBefore" serializeAs="String">
                <value>06/14/2010 21:39:00</value>
            </setting>
            <setting name="diskCleanerExcludedDirs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>?:\program files\common files</string>
                        <string>?:\program files\uninstall information</string>
                        <string>?:\win*\security</string>
                        <string>*\sendto</string>
                        <string>*\i386</string>
                        <string>*\resources\themes</string>
                        <string>*\microsoft\office\data</string>
                        <string>*\microsoft\money\*\webcache</string>
                        <string>*\chaos32</string>
                        <string>*\paprport\data</string>
                        <string>*\symantec shared\virusdefs</string>
                        <string>?:\system volume information</string>
                        <string>?:\_restore</string>
                        <string>?:\recycle?</string>
                        <string>*\temp\incredimail</string>
                        <string>*\norton antivirus\quarantine</string>
                        <string>*\system32\usmt</string>
                        <string>*\system32\catroot2</string>
                        <string>*\application data\microsoft</string>
                        <string>?:\windows</string>
                        <string>?:\winnt</string>
                        <string>?:\win*\pif</string>
                        <string>?:\win*\resources</string>
                        <string>\win*\system32\oldole</string>
                        <string>?:\win*\Sysbackup</string>
                        <string>?:\win*\system32\olebackup</string>
                        <string>?:\win*\system32\usmt</string>
                        <string>?:\$recycle.bin</string>
                        <string>*\Application Data\Aim</string>
                        <string>*\symantec shared\virusdefs</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="diskCleanerExcludedFileTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>config.*</string>
                        <string>autoexec.*</string>
                        <string>data.bak</string>
                        <string>_Default.pif</string>
                        <string>Calendar.tmp</string>
                        <string>Data.sav</string>
                        <string>Default.pif</string>
                        <string>Donotdel.tmp</string>
                        <string>DonotDelete.tmp</string>
                        <string>Drelres.pif</string>
                        <string>FTP.log</string>
                        <string>Http.log</string>
                        <string>Index.dat</string>
                        <string>Install.log</string>
                        <string>MM2048.DAT</string>
                        <string>MM256.DAT</string>
                        <string>Modem.log</string>
                        <string>Script.bak</string>
                        <string>System.old</string>
                        <string>Uninstall.log</string>
                        <string>User.old</string>
                        <string>WebPoolFileFile</string>
                        <string>Win.bak</string>
                        <string>Win.old</string>
                        <string>Wnccdctl.log</string>
                        <string>wz.pif</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="diskCleanerFindNotAccessed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="diskCleanerFindNotAccessedValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="diskCleanerCheckFileSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="diskCleanerCheckFileSizeLeast" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="diskCleanerCheckFileSizeMost" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="diskCleanerAutoClean" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="optionsUpdateDelay" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="optionsUsageStats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="privacyCleanerDeletePerm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="privacyCleanerDeleteRecBin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="privacyCleanerIncSysFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="privacyCleanerIncReadOnlyFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="privacyCleanerIncHiddenFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="privacyCleanerInc0ByteFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="privacyCleanerAutoSkipScanner" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="privacyCleanerLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="privacyCleanerDisplayLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="optionsUseProxy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="optionsProxyHost" serializeAs="String">
                <value />
            </setting>
            <setting name="optionsProxyPort" serializeAs="String">
                <value>3128</value>
            </setting>
            <setting name="optionsProxyAuthenticate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="optionsProxyUser" serializeAs="String">
                <value />
            </setting>
            <setting name="optionsProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="optionsReportUsage" serializeAs="String">
                <value>True</value>
            </setting>
        </Little_System_Cleaner.Properties.Settings>
    </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <applicationSettings>
        <Little_System_Cleaner.Properties.Settings>
              <setting name="updateURL" serializeAs="String">
                    <value>http://updates.little-apps.com/little-system-cleaner.xml</value>
              </setting>
        </Little_System_Cleaner.Properties.Settings>
    </applicationSettings>
</configuration>
