[submodule "RegEditGo"]
	path = RegEditGo
	url = https://github.com/little-apps/RegEditGo.git
[submodule "AutoUpdaterWPF"]
	path = AutoUpdaterWPF
	url = https://github.com/little-apps/AutoUpdaterWPF.git
