<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net46" />
  <package id="WPFToolkit.DataVisualization" version="3.5.50211.1" targetFramework="net46" />
  <package id="XamlAnimatedGif" version="1.1.6" targetFramework="net46" />
</packages>